.payment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .payment-container h2 {
    margin-bottom: 20px;
  }
  
  .fees-details {
    margin-bottom: 20px;
  }
  
  .payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .payment-method {
    margin: 0 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
  }
  
  .payment-method img {
    width: 60px;
  }
  
  .payment-method p {
    margin-top: 5px;
  }
  
  .pay-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .pay-button:hover {
    background-color: #0056b3;
  }
  